{% extends 'base.html' %}
{% block content %}
  <table>
    <thead>
      <tr>
        <th>名前</th>
        <th>入学年度</th>
        <th>参加開始日</th>
        <th>参加終了日</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in entry_list %}
      <tr>
        <td>
          <a href="{% url 'register:details' entry.id %}">
            {{ entry.screen_name }}
          </a>
        </td>
        <td>{{ entry.admission_year }}</td>
        <td>{{ entry.start_date|date:'n月j日' }}</td>
        <td>{{ entry.end_date|date:'n月j日' }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

